---
import GitHubIcon from "./icons/GitHubIcon.astro";
import BrowserIcon from "./icons/BrowserIcon.astro";
interface Props {
  title: string;
  body: string;
  footer: string;
  repo: string;
  url: string;
  src: string;
}

const { title, body, footer, repo, url, src } = Astro.props;
---

<li
  class="rounded-2xl w-80 h-[460px] border-4 border-urcp-moonstone hover:scale-105 hover:transition hover:ease-in-out hover:duration-700"
>
  <div class="flex flex-col">
    <figure class="border-b-2 border-urcp-moonstone">
      <img
        src={src}
        alt="Build Selector project preview image"
        class="object-cover rounded-t-xl w-80 h-48"
      />
    </figure>
    <h2 class="p-3 font-bold text-xl">
      {title}
    </h2>
    <p class="p-3 font-base text-lg">
      {body}
      <p class="p-3 font-light">{footer}</p>
    </p>
    <div class="p-3 flex justify-end gap-2">
      <a
        class="w-24 flex items-center justify-center gap-1 rounded-full px-2 py-1 bg-urcp-carolinab hover:drop-shadow-2xl hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-500"
        href={repo}
        target="_blank"><GitHubIcon />Code</a
      >
      <a
        class="w-24 flex items-center justify-center gap-1 rounded-full px-2 py-1 bg-urcp-carolinab hover:drop-shadow-2xl hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-500"
        href={url}
        target="_blank"><BrowserIcon />Preview</a
      >
    </div>
  </div>
</li>
